h1 {
	color: skyblue;
	font-size: 50px; 
	font-family: 'Georgia', serif
}

#first {
	color: orange;
}

img {
	width: 80%;
	margin-left:10%;
	border: 5px;
	border-style: dotted;
	border-color: white;
}

body {
	background: seashell;
}
